body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 255, 255, 0.452);
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    text-align: center;
}

.nombre-estudiante{
    margin-left: 43%;
    margin-bottom: 1px;
    padding: 5px;
    font-size: 16px;
    width: 15%;
    background: rgba(0, 128, 0, 0.24);
}